<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <context-param>
        <param-name>blogTitle</param-name>
        <param-value>Blog Engine</param-value>
    </context-param>

    <context-param>
        <param-name>mongoDatabase</param-name>
        <param-value>test</param-value>
    </context-param>

    <context-param>
        <param-name>mongoCollection</param-name>
        <param-value>posts</param-value>
    </context-param>

    <context-param>
        <param-name>templatePath</param-name>
        <param-value>freemarker-templates</param-value>
    </context-param>

    <servlet>
        <servlet-name>BlogServletPage</servlet-name>
        <servlet-class>com.yarixlab.controllers.PostsListController</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>BlogServlet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogServletPage</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TagServlet</servlet-name>
        <servlet-class>com.yarixlab.controllers.TagController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagServlet</servlet-name>
        <url-pattern>/tag/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllTagsServlet</servlet-name>
        <servlet-class>com.yarixlab.controllers.AllTagsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllTagsServlet</servlet-name>
        <url-pattern>/all-tags/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>com.yarixlab.controllers.PostsListController</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>BlogServlet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
